h1 {
   color: rgb(0, 0, 0);
   font-size: 2em;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
    margin-top: 10%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}